<menu-sidebar></menu-sidebar>
<ion-content padding class="main-classes" style="background-image: url('assets/imgs/bg_page.png'); background-size: 360px 620px;">
	<br /><br /><br /><br /><br /><br /><br>
  	<div class="obj-center"><span [innerHTML]="songDesc"></span></div>
	<ion-grid>
		<ion-row>
			<div class = "col col-offset-25">
				<div class="container">
					<div class="circle-outside-share">
						<div class="share-btn" style="left:3%; top:15%; background: transparent;">
							<!--<ion-icon class="icon-play-lause"  style="left: 35%;" [color]="light" [name]="'md-share'" item-end></ion-icon>-->
							<ion-fab bottom right #fab>
							   <button ion-fab>
							   		<ion-icon style="background-color: transparent; font-weight: bolder;" [color]="light" [name]="'md-share'" item-end></ion-icon>
							   	</button>
							   <ion-fab-list side="bottom">
							   	<ion-row>
        							<ion-col>
									     <button ion-fab (tap)="shareViaFacebook('facebook', fab)">
									     	<ion-icon [name]="'logo-facebook'" item-end></ion-icon>
									     </button>
									</ion-col>
									<ion-col>
									     <button ion-fab (tap)="shareViaInstagram('instagram', fab)">
									     	<ion-icon [name]="'logo-instagram'" item-end></ion-icon>
									     </button>
									</ion-col>
								</ion-row>
							   </ion-fab-list>
							 </ion-fab>
						</div>
					</div>
					<div class="circle-outside" (tap)="manageAudio()">
						<div class="circle">
							<!--<ion-icon class="icon-play-lause" [color]="light" [name]="_streamPaused == false ? 'pause': 'play'" item-end></ion-icon>-->
							<ion-icon *ngIf="!_streamPaused" class="icon-play-lause" [color]="light" [name]="'pause'" item-end></ion-icon>
							<ion-icon *ngIf="_streamPaused" class="icon-play" [color]="light" [name]="'play'" item-end></ion-icon>
						</div>
					</div>
					<div class="circle-outside-share">
						<div class="share-btn">
							<ion-icon class="icon-play-lause" style="left: 30%; font-weight: bolder;" [color]="light" [name]="'ios-heart-outline'" item-end></ion-icon>
						</div>
					</div>
				</div>
			</div>
			<div style="width: 100%; margin-top: -30px; text-align: center;">
				<div style="width: 80%; text-align: center;  margin:0 auto;">
					<ion-range min="20" max="80" step="2" [(ngModel)]="brightness" color="danger" pin="true" style="width: 100%;">
				  	</ion-range>
				</div>
			</div>
		</ion-row>
		<ion-row>
			<div class = "col col-offset-25">
				<div class="container">
					<div class="icon-general-outside"  (tap)="goToPage('AboutPage')">
						<div class="icon-general">
							<!--<ion-icon class="icon-normal"  style="left: 35%;" [color]="light" [name]="'md-videocam'" item-end></ion-icon>-->
							<img style="height: 35px; width: auto;" src="assets/imgs/live.png" />
						</div>
					</div>
					<div class="icon-general-outside">
						<div class="icon-general">
							<img style="height: 35px; width: auto;" src="assets/imgs/tel.png" />
						</div>
					</div>
					<!--<div class="icon-general-outside" (tap)="sendSMS('Test text messages')">
						<div class="icon-general">
							<ion-icon class="icon-normal" style="left: 32%;" [color]="light" [name]="'md-text'" item-end></ion-icon>
						</div>
					</div>-->
					<div class="icon-general-outside" (tap)="openFacebook()">
						<div class="icon-general">
							<img style="height: 38px; width: auto;" src="assets/imgs/facebook.png" />
						</div>
					</div>
					<div class="icon-general-outside" (tap)="openInstagram()">
						<div class="icon-general">
							<img style="height: 38px; width: auto;" src="assets/imgs/ig.png" />
						</div>
					</div>
				</div>
			</div>

		</ion-row>
  	</ion-grid>

</ion-content>
