page-home {

}
h1, h2, h3, h4, h5, h6{
	color: #FFFFFF;
}
.toolbar-background {
	margin:0px;
    padding: 0px;
}

ion-navbar.toolbar {
  min-height: 70px;
}

.container{
	height: 100%; width:100%; 
	text-align: center;
}

.share-btn{
	background: transparent;
    top:10%;
    width: 70px;
    height: 70px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.circle-outside-share {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
}

.circle-outside {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    border: 5px solid #EF0000;
}
.circle {
    background: transparent;
    top:0%;
    width: 70px;
    height: 70px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.icon-general-outside {
    background: transparent;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
}
.icon-general {
    background: transparent;
    top:10%;
    width: 50px;
    height: 50px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.icon-play-lause {
    position: absolute;
    top: 34%;
    left: 38%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    background: transparent;
    font-size: 3em;
    color: #FFFFFF;
}

.icon-play {
    position: absolute;
    top: 34%;
    left: 45%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    background: transparent;
    font-size: 3em;
    color: #000000;
}

.icon-normal {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    font-size: 3em;
    color: #FFFFFF;
}

.more-danger{
	background: #A93A3A;
}

.range-slider{
	/*
	-webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 11px;
    height: 11px;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
	*/


}

div.item-inner{
	border-bottom-color: #A93A3A;
}

.fab-md{
	background: #D72525;
	box-shadow: none;
}

ion-fab {
  .fab { display: inline-block !important}
}


.event-calendar{
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #000000;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #000000;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    opacity: .8; 
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
      background-color: #000;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #999;
      
      color: #FFFFFF;
    }
    .calendar-date {
      border-top: solid 1px #000;
      border-bottom: solid 1px #000;
      color: #FFFFFF;
    }
  }
}

.dialog-event{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95%;
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    overflow: scroll;

}

.dialog-event-content{
    
    top:16%;
    left:5%;
    position: absolute;
    width: 90%;
    border: 1px solid #000000;
    margin: 0 auto;
    background-color:transparent; 
    
}

.dialog-event-header{
    background-color: #AB2323;
    
    color: #FFFFFF;
    font-size: 1.3em;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}
.dialog-event-close{
    position: absolute;
    top:-9px;
    right: -13px;
}

.dialog-event-body{
    height: 22em;
    vertical-align: middle;
    text-align: center;
    background-color: #FFF;
}

.dialog-event-footer{
    padding-top: 2%;
    text-align: center;
    height: 0px;
    background-color: #FFF;
    padding-bottom: 5px;
    
}

.content-text{
    padding: 10px;
    text-align: left;

}

.event-section{
    background-color: #FFF;
}

