page-home {

}
h1, h2, h3, h4, h5, h6{
	color: #FFFFFF;
}
.toolbar-background {
	background-color: #B33939;
}

ion-navbar.toolbar {
  min-height: 70px;
}

.container{
	height: 100%; width:100%; 
	text-align: center;
}

.share-btn{
	background: transparent;
    top:10%;
    width: 70px;
    height: 70px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.circle-outside-share {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
}

.circle-outside {
    background: transparent;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    border: 10px solid #EF0000;
}
.circle {
    background: transparent;
    top:0%;
    width: 70px;
    height: 70px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.icon-general-outside {
    background: transparent;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    border-radius: 100%;
}
.icon-general {
    background: transparent;
    top:10%;
    width: 50px;
    height: 50px;
  	margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 100%;
}

.icon-play-lause {
    position: absolute;
    top: 28%;
    left: 38%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    background: transparent;
    font-size: 3em;
    color: #FFFFFF;
}

.icon-play {
    position: absolute;
    top: 28%;
    left: 45%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    background: transparent;
    font-size: 3em;
    color: #000000;
}

.icon-normal {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    font-size: 3em;
    color: #FFFFFF;
}

.more-danger{
	background: #A93A3A;
}

.range-slider{
	/*
	-webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 11px;
    height: 11px;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
	*/


}

div.item-inner{
	border-bottom-color: #A93A3A;
}

.fab-md{
	background: #D72525;
	box-shadow: none;
}

ion-fab {
  .fab { display: inline-block !important}
}

